name: build

permissions: read-all

on:
  push:
  pull_request:
  schedule:
  - cron: "46 20 * * 1"  # Run at a random time weekly

jobs:
  build:

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.14"]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - name: Setup conda and dependencies
      run: |
        util/setup_ci.sh ${{ matrix.python-version }}
    - name: Test
      run: |
        eval "$(conda shell.bash hook)"
        conda activate python${{ matrix.python-version }}
        # Need to build epitopelib for current version of Python
        (cd nblib/epitopelib && CFLAGS="-I$(python -c 'import numpy; print(numpy.get_include())')" cythonize -f -i epitopelib.pyx)
        cd test
        # Run a quick subset of all tests
        python test.py Tests.test_integrative_model
